* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::selection {
    background-color: #8460f6;
    color: #fff;
}
body {
    font-family: "Poppins", sans-serif;
    color: #777;

}

nav .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

/* start nav */
nav {
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav .logo {
    width: 60%;
}

nav .logo img {
    padding: 8px;
}

nav .list {
    width: 20%;
}

nav .list ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav .list ul li a {
    text-decoration: none;
    color: aliceblue;
    padding: 8px;
}

nav .list ul li a:hover {
    color: #f3487f;
}

/* end nav */

/* start header */
header {
    background: url(images/banner-bg.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.overlay-bg {
    background-color: rgba(132, 96, 246, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

header .header-info {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    text-align: center;
    z-index: 2;
    color: #fff;
}

header .header-info h4 {
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 20px;
    line-height: 1.2em;
    width: 100%;
}

header .header-info p {
    margin-bottom: 60px;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 1em;
}

.btn {
    color: white;
    background: transparent;
    border: 1px solid white;
    padding: 12px 45px 12px 45px;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 20px;
    line-height: 18px;
    font-weight: bold;
    transition: all 0.5s;
}

.btn i {
    transition: 0.5s;
}

.btn:hover {
    padding: 12px 49px 12px 49px;
}

 .btn:hover i {
    padding-left: 10px;
}
/* end header */


/* start history */
.History .container{
    width: 90%;
}
.History {
    background-color: #f2f5f7;
    padding: 70px 0;
}
.History  .history-desc {
    background-color: #fff;
    width: 100%;
    height: 467px;
    display: flex;
    justify-content: space-around;
    
}
.History .history-img{
    width: 33.333%;
    position: relative;
}
.History .history-img img{
position: absolute;
top:-20px;
left: -20px;
}
.History .history-info{
    width: 45%;
}
.heading {
    padding: 70px;
    text-align: center;
}

.heading h3 {
    font-size: 49px;
    line-height: 1.5em;
    font-weight: 500;
    line-height: 1.9em;
    color: black;
}

.heading p {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 70px;
    font-weight: 300;
    line-height: 1.5em;
}

.list-btn .btn{
    color: #777;
    border: 1px solid #777;
    padding: 5px 15px 5px 15px;
    transition: 0.5s;
    margin: 30px 0 ;
}
.list-btn .btn:hover{
    color:white;
    background-color: rgba(132, 96, 246);
}
.history-info h3{
    color: black;
    margin-bottom:10px;
}
/* end history */

/* start skills */
.skills .container{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.skills{
    background-color: #f3487f;
    height: 600px;
}
.skills-info-container-one{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 300px;
}
.skills-info-container-one .skills-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    text-align: center;
    color: #f3487f;
    background-color: #fff;
    font-size: 36px;
}
.skills-info-container-two .skills-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    text-align: center;
    color: #f3487f;
    background-color: #fff;
    font-size: 36px;
}
.skills-info-container-one .skills-info-grey{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    text-align: center;
    background-color: #6f7598;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
}
.skills-info-container-two .skills-info-grey{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    text-align: center;
    background-color: #6f7598;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
}

.skills-info-container-two{
    justify-content: center;
    align-content: center;
    width: 100%;
    display: flex;
    height: 300px;
}
.skills-icon p{
    font-size: 20px;
}
.skills-info{
    transition: 0.5s;
}
.skills-info:hover{
    background-color: #f3487f;
    color: #f2f5f7;
}
.skills-info-grey:hover .skills-info{
    background-color: #f3487f;
    color: #f2f5f7;
}

/* end skills */
/* start Beautiful Experiences */

.beautiful .container{
    width: 90%;
    display: flex;
    justify-content: space-evenly;

}
.beautiful .container .beau-img img{
    width: 47%;
}
.beautiful .container .beau-img{
    display: flex;
    justify-content: space-between;
    width: 40%;
    overflow: hidden;
}
.beautiful .container .beu-disc{
    display: flex;
    flex-direction: column;
    width: 40%;
    overflow: hidden;
}
.beautiful .container .beu-disc h2{
    color: black;
    font-size: 30px;
}
.beautiful .container .beu-disc h4{
    color: black;
    margin-top: 10px;
    font-weight: 300;
    margin-bottom: 20px;
}
.beautiful .container .beu-disc h5{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 1.9rem;
}
.beautiful .container .beu-disc .btn{
    background-color: #fff;
    color:#8460f6;
    border: 1px solid #6f7598;
    max-width: fit-content;
}
.beautiful .container .beu-disc .btn:hover{
    background-color: #8460f6;
    color:white;
}
/* end Beautiful Experiences */

/* start some projects*/
.projects{
background-color: #5dd1e3;
padding: 70px 0;
margin-top: 100px;
}
.projects .heading h3 ,.projects .heading p{
    color: #fff;
}
.projects .container{
    width: 90%;
}
.projects .some-project{
    overflow: auto;
    background-color: #fff;
    height: 289px;
    overflow-y: hidden;
}
.projects .some-project .some-info{
    float:left;
    width:66.666%;
}
.projects .some-project .some-info img{
    width:93%;
    height: 289px;
}
.projects .some-project .some-desc{
    float: left;
    width: 33.333%;
}
.projects .some-project .some-desc .project-details{
    padding: 50px 50px 50px 0;
}
.projects .some-project .some-desc .project-details h3{
    margin-bottom: 10px;
}
.projects .some-project .some-desc .project-details p{
    margin: 5px;
}
/* end some projects*/

/* start keep */
.keep{
    padding: 100px 0;
}
.keep .container{
    width: 90%;
}
.keep form {
    overflow: auto;
    width: 70%;
    margin: auto;
}
.keep form input {
    float: left;
    width: 45.5%;
    height: 41px;
    margin-right:21px;
    margin-bottom: 10px;
    padding: 0px 10px;
    border: 1px solid #d4d5e0;
}
.keep form textarea {
    width: 93%;
    height: 179px;
    border: 1.7px solid #d4d5e0;
    padding: 20px;
}
.keep form input::placeholder{
    color: #777;
    font-size: 16px;
}
.keep form textarea::placeholder{
    color: #777;
    font-size: 17px;
}
.keep form .btn{
    color:#8460f6;
    border: 1px solid #d4d5e0;
    float: right;
    margin-top: 10px;
    margin-right: 70px;
    letter-spacing: 0;
}
.keep form .btn:hover{
    background-color: #8460f6;
    color: #fff;
}
/* end keep */

/* start together */
.together{
    background-color:#f9c400 ;
    padding: 100px 0;
}
.together .together-inp{
    width:50% ;
    margin: auto;
    text-align: center;
}
.together .together-inp h3{
    color:#fff;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.5em;
    font-weight: 500;
    text-align: center;
}
.together .together-inp form{
    position: relative;
}
.together .together-inp form input{
    padding: 16px 35px;
    width: 100%;
    border-radius: 50px;
    border: 0;
    outline: 0;
}
.together-inp form .btn1{
    padding: 10px 23px;
    position: absolute;
    top: 2px;
    right: 3px;
    background-color: transparent;
    color:#8460f6;
    padding: 12px 45px 12px 45px;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 20px;
    line-height: 18px;
    font-weight: bold;
    transition: all 0.5s;
    border: 1px solid #eee;
}
.together-inp form .btn1:hover{
    background-color: #8460f6;
    color: #fff;
}
.together-inp form .btn1::placeholder{
    color: #d4d5e0;
    font-size: 17px;
}
/* end together */

/* start footer */
footer{
    background-color: #4e5375;
    padding: 100px 0;
    overflow: auto;
}
footer .footer-list{
    float: left;
    width: 25%;
}
footer .footer-list .list h3{
color: #fff;
margin-bottom: 10px;
}
footer .footer-list .list ul{
    list-style: none;

}
footer .footer-list .list ul li a{
    text-decoration: none;
    color: #fff;
}
/* end footer */