@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* 
=================================
public style
==================================

*/

* ,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family: "Josefin Sans", sans-serif;
  background-color: #f7f7f7ff;
  height: 3000px;
}

:root{
  --first-color :#ff003c; 
  --second-color:#141517;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}


.container{
  width: 85%;
  margin: auto;
}
.row{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.btn{
  background-color:#4a4a4b ;
  color: #fff;
  border: 0;
  padding: 18px 25px;
  margin-bottom:15px;
  font-size: 17px;
  letter-spacing: 1.2;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--first-color);
  z-index: -1;
  transition: all 0.4s ease-in;
}
.btn:hover::before{
  width: 100%;
}

/*   <!-- 
  ===================
    Navbar
  ===================
  -->
 */


nav{
background-color: #ffffff;
width: 100%;
padding: 28px 40px;
display: flex;
justify-content: space-between;
align-items: center;
}

nav .brand{
  width: 25%;
}


nav .list{
width: 50%;
display: flex;
justify-content: space-between;
align-items: center;
}
nav .list .item a{
  font-size: 17px;
  text-transform: capitalize;
  color: var(--second-color);
  font-weight: 500;
}
nav .list .item a:hover{
  color: var(--first-color);
}
nav .list .item{
  position: relative;
padding: 13px 0 0;
}
nav .list .item:nth-child(4)::after{
  content: 'Hot';
  position: absolute;
  background-color: var(--first-color);
  color: #fff;
  padding: 3px 8px;
  font-size: 13px;
  border-radius: 8px;
  top: -24px;
  filter: drop-shadow(1px 1px 4px rgb(184, 177, 177));
}
nav .icon{
  width: 25%;
  text-align: right;
}
nav .list .item .dropdown{
  position: absolute;
  background-color: #fff;
  filter: drop-shadow(2px 4px 6px #ccc);
  width: 180px;
  top:54px;
  padding: 21px;
  border-top:3px solid #ff003c ;
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
}
nav .list .item:hover .dropdown{
  opacity: 1;
  visibility: visible;
  top: 47px;
}
nav .list .item .dropdown::before{
  content: '';
  position: absolute;
  top: -20px;
  width: 0;
  height: 0;
  border-top:10px solid transparent;
  border-bottom:10px solid #f00;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
}
nav .list .item .dropdown .drop{
  margin-bottom: 10px;
}
nav .icon a{
  margin-right: 13px;
  color: var(--second-color);
  font-weight: 400;
  font-size: 17px;
}

nav label ,input{
  display: none;
}


/* <!-- 
===================
  End Navbar
===================
--> */




/*     <!-- 
  ===================
    Start Header
  ===================
  --> */

header{
  background-color: #f0f0f2;
}

header .content{
  align-self: center;
  animation: contentLeft 0.8s ;
}

@keyframes contentLeft {
  0%{
    transform: translateX(-110%);
  }
  100%{
    transform: translateX(0%);
  }
}

header .content h1{
  font-size: 70px;
  line-height: 1.4;
  margin-bottom: 30px;
  font-weight: 700;

}

header .content p{
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 35px;
  color: var(--second-color);
}
header .img-head{
  overflow: hidden;
  justify-self: flex-start;
}
header .img-head img{
  width: 67% ;
  animation: imgScale 3s alternate infinite;
}
@keyframes imgScale {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}

/*     <!-- 
  ===================
    End Header
  ===================
  --> */





/* 
  <!-- 
  =============================
    start New Products
  =============================
  --> */
.new-product{
  padding: 130px 0;
}
.new-product .row{
  display: flex;
  justify-content: space-between;
}
.new-product .title{
  margin-bottom: 40px;
}

.new-product .title h2{
  font-size: 41px;
}

.new-product .product{
  width: 29%;
  text-align: center;
  border: 1px solid #ebebeb;
  margin-bottom: 10px;
}
.new-product .product .img-product{
  overflow: hidden;
}
.new-product .product .img-product img{
  width: 100%;
  transition: all 1s;
}
.new-product .product:hover .img-product img{
  transform: scale(1.1);

}

.new-product .product .contect-product{
  padding-top:13px ;
}

.new-product .product .contect-product a{
  font-size: 24px;
  font-weight: 700;
  color: var(--second-color);
}
.new-product .product .contect-product p{
  margin-top: 10px;
  font-size: 18px;
  color: var(--first-color);
  padding-bottom:20px;
}

/*         <!-- 
  =============================
    end New Products
  =============================
  --> */





  /*         <!-- 
  =============================
    start grid
  =============================
  --> */

.grid-section{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,330px);
  gap: 20px;
  width: 99%;
  margin: auto;
}
.grid-section .item{
  overflow: hidden;
}
.grid-section .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: 1s all  ;
}

.grid-section .item:hover img{
  transform: scale(1);
  filter: grayscale(100%);
}
.grid-section .item:nth-child(1){
  grid-column: 1/3;
  grid-row: 1/3;
}

.grid-section .item:nth-child(2){
  grid-column: 3/4;
  grid-row: 1/3;
}



    /*         <!-- 
  =============================
    end grid
  =============================
  --> */




  
  /* <!-- 
    =============================
    start popular Items
  =============================
  --> */

.popular-items{
  padding: 100px 0;
}



.popular-items .title{
  text-align: center;
  width: 50%;
  margin: 0px auto 61px;
}
.popular-items .title h2{
font-size: 42px;
}
.popular-items .title p{
font-size: 16px;
color:#4a4a4b;
padding-top: 11px;
}


.popular-items .parent{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  gap:20px;
}


.popular-items .parent .child .box-top{
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid #ff2020;
}
.popular-items .parent .child .box-top img {
  width: 100%;
}

.popular-items .parent .child .box-top .link-card{
position: absolute;
background-color: var(--first-color);
color: #fff;
width: 100%;
padding: 20px;
text-align: center;
bottom: -5%;
left: 0;
opacity: 0;
visibility: hidden;
transition:  1s;
}

.popular-items .parent .child:hover .box-top .link-card{
  bottom: 0%;
  opacity: 1;
  visibility: visible;
}


.popular-items .parent .child .box-top .link-icon{
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 23px;
  color: #9c9995;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}
.popular-items .parent .child:hover .box-top .link-icon{
  opacity: 1;
  visibility: visible;
}

.popular-items .parent .child .box-bottom{
  text-align: center;
  margin-top: 20px;
}
.popular-items .parent .child .box-bottom a{
  color: var(--second-color);
}
.popular-items .parent .child .box-bottom p{
  margin-top: 11px;
  color: var(--first-color);
}
.popular-items .parent .child:nth-child(7){
  grid-column: 2/3;
  text-align: center;
}
  
  /* <!-- 
    =============================
    End popular Items
  =============================
  --> */

/* 
  <!-- 
    =============================
    start video
  =============================
  --> */

.bg-video{
  background-color: #38393b;
  width: 100%;
  height: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-video::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.bg-video .btn-icon{
  background: transparent;
  width: 100px;
  height: 100px;
  color:#c4bbbb;
  border: 2px solid #c4bbbb;
  border-radius: 50%;
  font-size: 23px;
  cursor: pointer;
  transition: 1s;
}
.bg-video:hover .btn-icon{
  transform: scale(1.1);
  color: var(--first-color);
  background-color: #c4bbbb;

}

.bg-video .next-video{
  position: absolute;
  background-image: url(../img/vidoe_more.png);
  bottom: 0;
  left: 0;
  width: 30%;
  padding: 60px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 27px;
}
.bg-video .next-video a{
  color: #fff;
}

  /* <!-- 
    =============================
    end video
  =============================
  --> */










/*=================================================*/
/*=================================================*/
/*=================================================*/
/* ====================== media query ================ */
/*=================================================*/
/*=================================================*/

@media (max-width:1119px){

}
@media (max-width: 991px) {
  /* ===== start Navbar ========*/
  nav .brand{
    width: 30%;
  }
  nav input{
    visibility: hidden;
  }
  nav .brand img{
    width: 100%;
  }
  nav label ,input{
    display: block;
  }
  nav .list{
    display: unset;
    position: absolute;
    top: 80px;
    width: 90%;
    left: 5%;
    background-color: #ccc;
    padding: 20px 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all ease-in;
  }
  nav #inp:checked ~ .list{
    opacity: 1;
    visibility: visible;
  }
  nav .icon a{
    margin-right: 1px;
  }
  nav label{
    order: 2;
  }
  nav .list .item:nth-child(4)::after {
    display: none;
  }

  nav .list .item .dropdown {
    position: unset;
    background-color: transparent;
    filter: 0;
    padding: 7px 7px 0;
    border-top: 0;
    border-radius: 0;
    opacity: 1;
    visibility: visible;
    display: none;
  }
  nav .list .item .dropdown::before{
    display: none;
  }
  nav .list .item:hover .dropdown{
    display: block;
  }

  /*  ===== End Navbar ======== */

/*  ===== Start Header ======== */
header .content{
  width: 66%;
}
header .content h1{
  margin-top: 20px;
  font-size: 37px;
}
header .img-head img{
  width: 100%;
}
header .img-head {
  width: 25%;
}
  /*  ===== Start Header ======== */
      /*  ===== start new product ======== */
      .new-product{
        padding: 50px 0;
    }
    .new-product .row{
      flex-wrap: wrap;
    }
    .new-product .product{
      width: 50%;
    }
    .new-product .title h2{
      font-size: 31px;
    }
    
    /*  ===== end new product ======== */
          /* ==============start grid=============== */
.grid-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(330px,auto));
  gap: 20px;
  width: 99%;
  margin: auto;
}
.grid-section .item:nth-child(1){
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid-section .item:nth-child(2){
  grid-column: 2/3;
  grid-row: 1/2;
}
.grid-section .item:nth-child(3){
  grid-column:1/2;
  grid-row: 2/3;
}
.grid-section .item:nth-child(4){
  grid-column:2/3;
  grid-row: 2/3;
}
/*==================end grid==============*/
}
@media (max-width: 767px) {
    /*  ===== Start Header ======== */
  header .content{
    width: 66%;
  }
  header .content h1{
    margin-top: 20px;
    font-size: 37px;
  }
  header .img-head img{
    width: 100%;
  }
  header .img-head {
    width: 25%;
  }
    /*  ===== end Header ======== */

}
@media (max-width: 575px) {
  /*  ===== Start Header ======== */
  header{
    padding: 45px 0;
  }
  header .img-head {
    display: none;
    visibility: hidden;
  }
  header .content h1{
    font-size: 35px;
    padding: 13px;
    margin: 7px;
  }
  header .content p{
    font-size: 15px;
    padding: 7px;
    margin-bottom: 7px;
  }
  /*  ===== End Header ======== */


      /*  ===== start new product ======== */
.new-product{
    padding: 50px 0;
}
.new-product .row{
  flex-wrap: wrap;
}
.new-product .product{
  width: 100%;
}
.new-product .title h2{
  font-size: 21px;
}

      /*  ===== end new product ======== */


      /* ==============start grid=============== */
.grid-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, minmax(330px,auto));
  gap: 20px;
  width: 99%;
  margin: auto;
}
.grid-section .item{
  height: 660px;
}
.grid-section .item:nth-child(1){
  grid-column: unset;
  grid-row: unset;
}

.grid-section .item:nth-child(2){
  grid-column:unset;
  grid-row: unset;
}
/*==================end grid==============*/


/*==================start popular ==============*/


.popular-items .parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.popular-items .title {
  text-align: start;
  padding-bottom: 20px;
  line-height: 1.4;
  margin: unset;
  width: 90%;
}
.popular-items .parent .child .box-bottom {
  text-align: center;
  margin: 20px;
}

.popular-items .parent .child:nth-child(7) {
  grid-column: 1 / 3;
  text-align: center;
}
/*==================end popular ==============*/
}